#MailProg=/bin/mail 
MpiDefault=none
#MpiParams=ports=#-# 
ProctrackType=proctrack/cgroup
ReturnToService=1
SlurmctldPidFile=/var/run/slurmctld.pid
#SlurmctldPort=6817 
SlurmdPidFile=/var/run/slurmd.pid
#SlurmdPort=6818 
SlurmdSpoolDir=/var/spool/slurmd
SlurmUser=slurm
#SlurmdUser=root 
StateSaveLocation=/var/spool
SwitchType=switch/none
TaskPlugin=task/affinity
# 
# TIMERS 
#KillWait=30 
#MinJobAge=300 
#SlurmctldTimeout=120 
#SlurmdTimeout=300 
# 
# SCHEDULING 
FastSchedule=1
SchedulerType=sched/backfill
SelectType=select/cons_res
SelectTypeParameters=CR_Core
# 
# LOGGING AND ACCOUNTING 
AccountingStorageType=accounting_storage/none
ClusterName= {{ slurm_cluster_name }}
#JobAcctGatherFrequency=30 
JobAcctGatherType=jobacct_gather/none
#SlurmctldDebug=info 
SlurmctldLogFile=/var/log/slurm/slurmctld.log
#SlurmdDebug=info 
SlurmdLogFile=/var/log/slurm/slurm.log
# 

# SLURM hosts
{% for c in groups['controller'] -%}
{% if c != inventory_hostname %}
SlurmctldHost={{ hostvars[c]['ansible_nodename'] }}
{% endif %}
{% endfor %}

# COMPUTE NODES 

{% for h in groups['workernodes'] -%}
{% if h != inventory_hostname %}
Nodename="{{ hostvars[h]['ansible_nodename'] }} CPUs={{ hostvars[h]['ansible_processor_vcpus'] }} State=UNKNOWN"
{% endif %}
{% endfor %}

# Partition Information
{% for p in groups['workernodes'] -%}
{% if p != inventory_hostname %}
PartitionName=slurmmee Nodes="{{ hostvars[p]['ansible_nodename'] }} Default=YES MaxTime=INFINITE State=UP"
{% endif %}
{% endfor %}
